// boxes that contains countries
.frame {
  padding: 0;
  a {
    display: block;
  }
}

.countryBox {
  margin: 5px;
  position: relative;
}

.imgBox {
  padding: 0;
  text-align: center;
  img {
    width: 100%;
  }
}

// table containing posts of one country
.tableContainer {
  //background: $bgGrey;
  padding: 30px;
}