// form to change profile image
#imgForm {
  display: none;
}

// profile image headBar
.headBar {
  margin-bottom: 5px;
  padding: 0;
}

// profile image container
#profileImg {
  margin: 0 0 10px 0;
}

// profile page side information section
.profileBox {
  @extend .postBox;
}

.profileSide {
  @extend .postSide;
  img {
    width: 80%;
  }
}