// boxes that contains countries
.frame {
  padding: 0;
  a {
    display: block;
  }
}

.countryBox {
  margin: 5px;
  position: relative;
  text-align: center;
  background: $bgWhite;
  border: 1px solid $lightGrey;
  @include box-shadow(5px, 5px, 10px, $lightGrey);
  .countryText {
    @include position(absolute, $top: 50%, $left: 66.6%);
    @include translate(-50%, -50%);
    h4 {
      margin-top: 15px;
    }
  }
}

.imgBox {
  padding: 6px;
  text-align: center;
  background: $bgWhite;
  img {
    width: 100%;
  }
}

// table containing posts of one country
.tableContainer {
  //background: $bgGrey;
  padding: 30px;
}

// view post page
.postBox {
  background: $bgWhite;
  @include border-radius(5px);
  border: 2px solid $midGrey;
  margin: 0 0 10px 0;
  display: flex;
  @include box-shadow(5px, 5px, 10px, $lightGrey);
}

.postSide {
  text-align: center;
  @include border-radius-separate(3px, 0px, 0px, 3px);
  background: $lightGrey;
  padding: 20px;
  img {
    width: 80%;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  p {
    margin: 0 0 5px 0;
  }
}

.postContent {
  //position: relative;
  padding-bottom: 50px;
  .postImgBox {
    margin-bottom: 20px;
    .col-sm-6 {
      padding: 5px;
    }
    img {
      width: 100%;
      border: 1px solid $midGrey;
    }
  }
}

// comment
.commentBox {
  @extend .postBox;
}

.commentSide {
  @extend .postSide;
}

.commentContent {
  padding: 20px 20px 10px 20px;
}

// bottom section in post
.postBtmBar {
  padding: 0;
  @include position(absolute, $bottom: 10px, $right: 15px, $left: 15px);
  .btnEdit {
    @include position(absolute, $bottom: 0, $right: 0);
  }
}

.commentBtmBar {
  @extend .postBtmBar;
}

// create edit form
.formCreateEdit {
  .leftElem {
    padding: 0 10px 0 0;
  }
  .rightElem {
    padding: 0 0 0 10px;
  }
  #spanDeleteMsg {
    @include position(relative, $top: 8px);
  }
}