// signup login form
.errorInfo {
  margin: 0 0 2px 0;
  padding: 2px;
}

// form to change profile image
#imgForm {
  display: none;
}

// profile image headBar
.headBar {
  margin-bottom: 5px;
  padding: 0;
}

.headBarAdmin {
  margin-bottom: 10px;
}

// profile image container
#profileImg {
  margin: 0 0 10px 0;
}

// profile page side information section
.profileBox {
  @extend .postBox;
  .btnProfileEdit {
    margin-top: 20px;
  }
}

.profileSide {
  @extend .postSide;
  img {
    width: 80%;
  }
}