// boxes that contains countries
.frame {
  padding: 0;
  a {
    display: block;
  }
}

.countryBox {
  margin: 5px;
  position: relative;
  text-align: center;
  background: $bgWhite;
  border: 1px solid $lightGrey;
  @include box-shadow(5px, 5px, 10px, $lightGrey);
  .countryText {
    @include position(absolute, $top: 50%, $left: 66.6%);
    @include translate(-50%, -50%);
    h4 {
      margin-top: 15px;
    }
  }
}

// image box for countries
.imgBox {
  padding: 6px;
  text-align: center;
  background: $bgWhite;
  img {
    width: 100%;
  }
}

// add an overlay for images
.imgItemBox {
  overflow: hidden;
  position: relative;
  &:hover {
    img {
      @include scale(1.1, 1.1);
    }
    .overlay {
      opacity: 0.4;
      cursor: pointer;
    }
  }
  img {
    @include transition(all, .15s, linear);
    width: 100%;
  }
  .overlay {
    background: $secondDarkGrey;
    opacity: 0;
    @include position(absolute, $top: 0, $left: 0);
    width: 100%;
    height: 100%;
  }
}

// display image in the image container
.galleryContainer {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 499;
  display: none;
  .imgGallery {
    height: 60%;
    z-index: 500;
    @include box-shadow(0, 0, 50px, $bgWhite);
    border: 10px solid $bgWhite;
    @include border-radius(5px);
    @include position(absolute, $top: 50%, $left: 50%);
    @include translate(-50%, -50%);
    img {
      height: 100%;
    }
  }
}

#galleryNext {
  height: 50px;
  width: 50px;
  @include position(absolute, $right: -30px, $bottom: -30px);
  cursor: pointer;
  background: $bgWhite;
  border-radius: 50%;
  text-align: center;
  i {
    font-size: 45px;
    line-height: 50px;
  }
  &:hover {
    i {
      color: $mainBrown;
    }
  }
}

#galleryPrev {
  @extend #galleryNext;
  @include position(absolute, $left: -30px);
}

// table containing posts of one country
.tableContainer {
  //background: $bgGrey;
  padding: 30px;
}

// view post page
.postBox {
  background: $bgWhite;
  @include border-radius(5px);
  border: 2px solid $midGrey;
  margin: 0 0 10px 0;
  display: flex;
  @include box-shadow(5px, 5px, 10px, $lightGrey);
}

.postSide {
  text-align: center;
  @include border-radius-separate(3px, 0px, 0px, 3px);
  background: $lightGrey;
  padding: 20px;
  img {
    width: 80%;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  p {
    margin: 0 0 5px 0;
  }
}

.postContent {
  //position: relative;
  padding-bottom: 50px;
  .postImgBox {
    margin-bottom: 20px;
    .col-sm-6 {
      padding: 5px;
    }
    img {
      width: 100%;
      border: 1px solid $midGrey;
    }
  }
}

// comment
.commentBox {
  @extend .postBox;
}

.commentSide {
  @extend .postSide;
}

.commentContent {
  padding: 20px 20px 10px 20px;
}

// bottom section in post
.postBtmBar {
  padding: 0;
  @include position(absolute, $bottom: 10px, $right: 15px, $left: 15px);
  .btnEdit {
    @include position(absolute, $bottom: 0, $right: 0);
  }
}

.commentBtmBar {
  @extend .postBtmBar;
}

// create edit form
.formCreateEdit {
  position: relative;
  .leftElem {
    padding: 0 10px 0 0;
  }
  .rightElem {
    padding: 0 0 0 10px;
  }
  #spanDeleteMsg {
    @include position(relative, $top: 8px);
    float: right;
  }
}

.btnPublish {
  @include position(absolute, $right: 0, $bottom: 20px);
}

.btnUpdate {
  @include position(absolute, $right: 0, $bottom: 120px);
}

.btnComment {
  margin-bottom: 20px;
}

// set drop zone bottom margin to make room for publish button
.dropzoneBox {
  margin-bottom: 80px;
  //@include position(absolute, $left: 0, $right: 0);
}

// set the drop zone's border dashed
#drDropzoneEdit {
  border: 2px dashed $brand-primary;
}

#drDropzoneCreate {
  @extend #drDropzoneEdit;
}

// set dropzone text center align and clickable
.dropzone.dz-clickable * {
  span {
    cursor: pointer;
    @include position(absolute, $top: 50%, $left: 50%);
    @include translate(-50%, -50%);
  }
}